Repository exadel-inc/etoolbox-authoring-kit, pull requests merged in 2025-06, with the labels that each got.

#595 [EAK-594] DependsOn: fix DependsOnTab to respect subfields own conditional visibility (missing actor for setVisibility request on subfields)
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/actions/dependsOnCoralTabAction.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/dependsOn.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/dependsOnQueryObserver.js
Labels: bug, DependsOn

#597 [EAK-378] DependsOn: placeholder for coral 2 autocomplete + label asterisk toggle flow fix
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/accessors/dependsOnCoral2AutocompleteAccessor.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/accessors/dependsOnCoralRTEAccessor.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/accessors/dependsOnDefaultAccessors.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/actions/dependsOnStateActions.js
Labels: DependsOn

#596 [EAK-594] DependsOn: add tests to cover tab visibility action / update to jest 30 / update common dependencies
  .gitignore
  ui.apps/jest.config.js
  ui.apps/jest/coral.mocks.js
  ui.apps/jest/template.transform.js
  ui.apps/package-lock.json
  ui.apps/package.json
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/tests/dependsOnActionRegistry.test.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/tests/dependsOnActionTabVisibility.template.html
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/tests/dependsOnActionTabVisibility.test.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/tests/dependsOnElementAccessors.test.js
Labels: DependsOn

#602 [TECH] DependsOn: extend DependsOn with more debug capabilities + version bump
  docs/content/dev-tools/depends-on/usage.md
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js.txt
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/dependsOn.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/dependsOnDebug.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/dependsOnQueryObserver.js
Labels: enhancement, DependsOn

#603 [Tech] Merge release-2.6.1 branch to the main branch
  .gitignore
  all/pom.xml
  core/pom.xml
  core/src/main/resources/policy-management/eakApplyTopLevelPolicy.js
  docs/content/dev-tools/depends-on/usage.md
  docs/website/package-lock.json
  docs/website/package.json
  it.tests/pom.xml
  plugin/pom.xml
  pom.xml
  ui.apps/jest.config.js
  ui.apps/jest/coral.mocks.js
  ui.apps/jest/template.transform.js
  ui.apps/package-lock.json
  ui.apps/package.json
  ui.apps/pom.xml
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js.txt
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/accessors/dependsOnCoral2AutocompleteAccessor.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/accessors/dependsOnCoralMultiFieldAccessor.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/accessors/dependsOnCoralRTEAccessor.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/accessors/dependsOnDefaultAccessors.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/actions/dependsOnCoralTabAction.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/actions/dependsOnStateActions.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/dependsOn.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/dependsOnDebug.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/dependsOnQueryObserver.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/js/dependsOnUtils.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/tests/dependsOnActionRegistry.test.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/tests/dependsOnActionTabVisibility.template.html
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/tests/dependsOnActionTabVisibility.test.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/tests/dependsOnElementAccessors.test.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/depends-on/tests/dependsOnUtils.test.js
  ui.apps/src/main/content/jcr_root/apps/etoolbox-authoring-kit/policies/js/policyManagement.js
  ui.content/pom.xml
Labels: arch
